.sugoicon
  display inline-block
  vertical-align baseline
  font-size 14px
  text-align center
  text-transform none
  line-height 1
  text-rendering optimizeLegibility

@require 'modules/index'
body
  font-family 'microsoft Yahei'
  font-size 13px

#browser-alert
  position relative
  z-index 999

.common-err-msg
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  &:hover
    overflow visible
    white-space normal
    text-overflow inherit

//loading animation
#content-loading
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 99999
  background #fff

.spinner
  position absolute
  top 50%
  left 50%
  margin -17px 0 0 -75px
  width 150px
  text-align center
  & > div
    width 30px
    height 30px
    background-color #2db7f5
    border-radius 100%
    display inline-block
    -webkit-animation bouncedelay 1.4s infinite ease-in-out
    animation bouncedelay 1.4s infinite ease-in-out
    -webkit-animation-fill-mode both
    animation-fill-mode both
  .bounce1
    -webkit-animation-delay -0.32s
    animation-delay -0.32s
  .bounce2
    -webkit-animation-delay -0.16s
    animation-delay -0.16s

@keyframes bouncedelay
    0%, 80%, 100%
      transform scale(0.0)
    40%
      transform scale(1.0)

hr
  border 0
  border-bottom 1px solid #ccc
  margin 20px 0

.markdown-pre
  padding 16px
  overflow auto
  font-size 85%
  line-height 1.45
  background-color #f6f8fa
  border-radius 3px
  word-wrap normal
  // margin: 1em 0px 1em
  margin 0 auto 16px
  display block

.pointer-shadow
  cursor pointer
  &:hover
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15)

.color-picker-over
  .ant-popover-inner-content
    padding 0

@keyframes loading-bar
  from, 0%, 100%, to
    animation-timing-function: cubic-bezier(0,3,0,1)
  0%
    width 0
  100%
    width 100%

.loading-bar
  position: fixed
  left 0
  top 0
  width 0
  height 2px
  background: #1bb39c
  z-index 99999
  &.loading
    animation loading-bar 180s infinite

//不支持ie9以下
.ie.v9.0 .loading-bar
  display none

