.tag-filter-single
  padding 8px 0
  cursor: pointer
  color #777
  &:nth-child(even)
    background: #fafafa
  &:hover
    background: #f2f2f2
    color #333
.tag-flag-wrap
  width 26px
  text-align: center

.tag-list
  max-height: 400px

.tag-unit
  padding 8px 0
  color #777
  &.even
    background: #fafafa