.color-main
  color #6969d7

.color-purple
  color #6969d7

.color-purple2
  color #AE77EF

.color-disable
  color #ff4c5d

.color-red
  color #dd585d

.color-light-red
  color #f7aaaa

.color-light-green
  color #93f3c6

.color-green
  color #1bb39c

.color-yellow
  color #ff0

.color-black
  color #444

.color-white
  color #fff

.color-grey, .color-gray
  color #9da3b8

.color-blue-grey
  color #878ca0

.color-blue
  color #479cdf

.color-666
  color #666

.color-b3
  color #b3b3b3

.color-bf
  color #bfbfbf

.color-333
  color #333333

.color-ccc
  color #ccc

.color-999
  color #999

.color-999999
  color #999999

.color-lighten
  color #19ac9e

.color-000-25
  color rgba(0,0,0,0.25)

.bg-none
  background none!important

.bg-red
  background-color #dd585d

.bg-green
  background-color #1bb39c

.bg-yellow
  background-color #ff0

.bg-black
  background-color #000

.bg-white
  background-color #fff

.bg-grey
  background-color #9da3b8

.bg-ddd
  background-color #dddddd

.bg-light-grey
  background-color #d6d6d6

.bg-dark-white
  background-color #eee

.bg-grey-f5
  background-color #f5f5f5

.bg-grey-f7
  background-color #f7f7f7

.bg-fb
  background-color #fbfbfb

.bg-f9
  background-color #f9f9f9

.bg-blue
  background-color #479cdf

.bg-ccc
  background-color #ccc

.bg-f50
  background-color #f50

.bg-be
  background-color #bebebe

.bg-purple
  background-color #6969d7

.border-purple
  border solid 1px #6969d7

.bg-main
  background #ecedf2

.hover-color-ddd:hover
  color #ddd

.hover-color-red:hover
  color #dd585d

.hover-color-main:hover
  color #6969d7
