.time-picker-pop
  width 440px
  .ant-calendar-picker:hover .ant-calendar-picker-clear
    display none

.time-picker-format
  border 1px solid #dedede
  line-height: 1.4
  padding 6px 8px
  border-radius 3px
  cursor: pointer
  background: #ffffff
  &.disabled
    background: #f7f7f7
    color #d9d9d9

.time-picker-option
  width 130px
  text-align: center

.time-picker-text
  position absolute
  left 25px
  right 8px


