
.bold
  font-weight bold

.em
  font-style italic

.alignleft
  text-align left

.alignright
  text-align right

.aligncenter
  text-align center
.aligncenter-force
  text-align center !important

.indent
  text-indent 2em
  
.wordwrap-break-word
  word-wrap break-word

.wordbreak
  word-break break-all

.wordbreak-keep-all
  word-break keep-all

.elli
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  
.font-90
  font-size 90%

.font-125
  font-size 125%

.delete-line
  text-decoration line-through

i.disabled
  color #999

.under-line
  text-decoration underline
  &.dashed
    text-decoration-style dashed
