$path = "../../../node_modules/sugo-analytics-static/assets/images/login-bg.png"
body
  background #fff
  background-repeat no-repeat
  background-position 50% 100%
  background-image url($path)
  background-image url($path), linear-gradient(to bottom, #feffff 0%,#f7f8fa 100%)

#universe
  position absolute
  left 0
  top 0
  bottom 0
  right 0
  z-index 1

#login-content
  margin 0 auto
  width 400px
  position relative
  z-index 3
  .ant-input
    height 46px
  .ant-input-group-addon
    font-size 20px
    width 46px
    background #d9d9d9

.login-body
  padding-top 60px

.login-panel
  font-size 16px
  border 1px solid #ddd
  background #fff
  border-radius 3px
  box-shadow 0 2px 4px 0 rgba(124, 147, 184, 0.5)

.login-panel-title
  height 60px
  line-height 60px
  background #f8f8f8
  border-bottom 1px solid #ddd
  border-radius 3px 3px 0 0

.btn-login
  display block
  line-height 2.1
  font-size 16px
  width 100%